<div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="bs-docs-section" ng-controller="CollapseCtrl">

        <!--<div class="Student" append-source>-->
        <!-- ngModel is optional -->

        <!--This shows the assignments with student name, submitted date and student avatar
        as a panel which can be expanded on click-->
        <div class="panel-group" ng-model="panels.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default" ng-repeat="panel in panels">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{ panel.creator.avatars.large }}" width="100" height="100">
                                </div>
                                <div class="col-6">
                                    {{ panel.creator.first_name }}&nbsp {{ panel.creator.last_name }}
                                    <br>
                                    Submitted at: {{ panel.submitted_at| date:'longDate' }}

                                </div>
                            </div>

                        </a>
                    </h4>
                </div>


                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body" style="font-size: medium">
                        {{ panel.content }}
                    </div>
                </div>
            </div>
        </div>
        <!--</div>-->

    </div>

</div>